<div id="pagina-info">
  <%= render 'title_bar' %>
  <%= render 'sub_menu' %>

<div class="row">
    <div class="large-8 columns">
      <article>
       <h2>Introducción</h2>
        <p>
          EI diagnostico por imágenes. que engloba al viejo Radiodiagnóstico con su avanzada alización que incluye las Técnicas Intervencionislas. Diagnostica y Terapéutica. juntamente con los nuevos métodos. Ecografía. Medicina Nuclear. Tomografía Computada y Resonancia Magnética. ha pasado a ser una nueva especialidad reconocida y valorada como  el todos los centros médicos mundiales. Para no sobreabundar. destacamos que el plan de estudios vigente en la Facultad de Medicina dela UNT., ha sabido adecuarse a la realidad que plantea la existencia de esa nueva rame de la medicina. y Ia ha incorporado como materia curricular de pre-grado, repitiendo le experiencia de otros centros universitarios.
        </p>
        <p>
          EI intenso ritmo del crecimiento. la profundidad de los cambios que se producen y el permanente avance tecnológico. significan un acusado impacto que exige al médico imagenólogo no solamente una fomación teórica acorde al desarrollo dela especialidad. sino tambien. y fundamentalmente. una practica intensiva con el manejo de equipamiento actualizado el todas y cada una de sus diferentes areas.
        </p>
        <p>
          Por otro lado. es de importancia destacar que en el país sólo el 30% de los médicos que se reciben obtiene una plaza para continuar su formación y especializarse haciendo su residencia en hospitales` lo que ha motivado aparición de un Proyecto de Ley. que ya tiene aprobación en ia Cámara de Diputados de la Nación. en el que se prevé que en cada organismo asistencial público o privado. se constituya un comite' de docencia e investigación con la finalidad de suplir la faiencia señalada.
        </p>
        <p>
          El comentario que resumen los párrafos precedentes, pone de manifiesto las dificultades y limitaciones que los aspirantes a esta disciplina encuentran en los diferentes organismos oficiales o privados de nuestro medio para poder concretar su objetivo de capacitación especializada.
        </p>
        <p>
          En consideración a lo señalado, el Centro Radiológico Luis Méndez Collado ha decidido concretar el desarrollo organizado de la especialización en Diagnóstico por Imágenes, ha formalizado la creación de la Residencia a cumplirse en sus distintos Departamentos y Servicios, y de ser necesario, en otros centros del país o del extranjero, para lo que se compromete a exigir el estricto y prolijo cumplimiento del programa elaborado con el fin propuesto.
        </p>
        <p>
          Para el cumplimiento del programa correspondiente, el Centro Radiológico ha resuelto estipular una Beca Económica que ayude al residente en la atención de sus gastos menores.
        </p>
        <p>
          Para completar este resumen, informamos a los interesados que la Residencia en Diagnóstico por Imágenes del Centro Radiológico "Luis Méndez Collado", es una Carrera Universitaria de la Facultad de Medicina de Tucumán (Resolución N° 1504 003, del 11 de Noviembre de 2003) y el RECONOCIMIENTO de la Sociedad Tucumana de Radiología, Imagenología y Terapia Radiante (Noviembre 29 de 1999).
        </p>
        <p>
          <%= link_to "VER RESOLUCION Nº 1504 003", resolucion_1504003_index_path%>
        </p>
      </article>
      <hr />
      <article>
        <h2>Trayectoria</h2>
        <p>
          El Centro Radiológico, desde el año 1992, se ha hecho cargo de la responsabilidad de la formación integral en la especialidad, de graduados de Universidades Argentinas, implementando el desarrollo de una Residencia realizada sin fines lucrativos y encargada del minucioso control de una práctica ordenada e intensa con el apoyo de un sólido fundamento teórico completo, destinado a entregar una valedera habilitación a los cursantes.
        </p>
        <p>
          Por Resolución N' 1504 003 del 11 de Noviembre de 2003, el Honorable Consejo Superior de la Universidad Nacional de Tucumán resuelve: crear la Carrera "Universitaria de Especialización en Diagnóstico por Imágenes con Modalidad de Residencia" de la Facultad de Medicina.
        </p>
        <p>
          Además, el 25.XI.99, la Sociedad Tucumana de Radiología, lmagenología y Terapia Radiante, ha resuelto reconocer los méritos y antecedentes suficientes de la Residencia en Diagnóstico por Imágenes del Centro Radiológico. Al momento presente, son cinco profesionales los que han completado el cursado, siendo aceptados y bien considerados en el ambiente de la especialidad, en tanto que se encuentran aun atendiendo sus obligaciones otros tres más. De los primeros, son tres los profesionales que han resultado incorporados al Staff permanente del Centro Radiológico, lo que se destaca como motivo de verdadero y legítimo orgullo. 
        </p>
      </article>
    </div>

    <div class="large-4 columns">
      <%= render 'info_panel_unt' %>
      <%= render 'info_panel_pre_inscripcion' %>
      <%= render 'info_panel_iso' %>
    </div>
  </div>
</div>
