
  <div class="slider">
    <div class="row">
      <% if SlideInfo.all.any? %>
        <div class="orbit-container orbit-stack-on-small">
          <ul class="orbit-slides-container" data-orbit="" style="margin-left: -100%; width: 500%; height: 302px;">
            <% SlideInfo.all.each do |slide| %>
            <li data-orbit-slide="" style="width: 20%;">
            <div class="large-8 columns">
                <figure class="responsive" 
                data-media=<%=slide.image.url(:small)%>
                data-media768=<%=slide.image.url(:medium)%>
                data-media960=<%=slide.image.url(:large)%> title="Servicios">
              <img src="http://mc-cms-production.s3.amazonaws.com/empresa/slide03-large.png" alt="Servicios">
              </figure>
            </div>
            <div class="large-4 columns">
              <div class="description">
                <%= slide.description.html_safe %>
                <%= link_to "VER MÃS", slide_info_path(slide), :class=>"link_button btn_orange"%>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
          <a href="#" class="orbit-prev" style="display: none;">Prev <span></span></a>
          <a href="#" class="orbit-next" style="display: none;">Next <span></span></a>
          <div class="orbit-timer" style="display: none;"><span></span><div class="orbit-progress" style="overflow: hidden; width: 97.225%;"></div></div>
        </div>
        <% end %>
    </div>
  </div>
