<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <%= render 'layouts/link_services' %>
      <li>
        <%= link_to "Nuestros Médicos", staffs_path%>
      </li>
      <li>
        <%= link_to "Nuestros Residentes", residents_path%>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="first">
        <%= link_to "Certificaciones ISO", certificacion_iso_path%>
      </li>
      <li>
        <%= link_to "Pre-Inscripciones", pre_inscripciones_path%>
      </li>
      <li>
        <%= link_to "Links", home_links_path%>
      </li>
      <li>
        <%= link_to "Historia", history_index_path%>
      </li>
      <li>
        <%= link_to "Contactanos", contact_index_path%>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <div class="hours">
      <p>
        Lunes a Viernes 8 a 21 hs.
        <br>
        Sábados 8 a 12 hs.
        <br>
        Emergencias las 24 hs.
      </p>
      <p>
        Muñescas 444,
        <br>
        San Miguel de Tucumán
        <br>
        Tucumán
      </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="copyright">
      <img id="logo" src="/assets/layout/logo-transparent.png">
      <p>
       © 2013 Méndez Collado
       <br>
       Todos los derechos reservados
      </p>
    </div>
  </div>
</div>

<!-- <p>
  Copyright © 2013 Méndez Collado
</p> -->
