<ul class="right">
    <li>
      <%= link_to "Empresa",empresa_path, class: "first" %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to "Servicios",services_path%>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to "Carrera", career_articles_path%>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to "Staff Medico", staffs_path%>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to "Contacto", contact_index_path%>
    </li>
    <li class="divider"></li>
    <li class="last">
      <%= link_to "Quienes Somos", quienes_somos_path%>
    </li>
    <li class="divider"></li>
    <li id="mail">
      <a href="mailto:info@example.com?subject='Consulta'" target="_blank"> Email </a>
    </li>
</ul>
